<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            A propos
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="bloque">
        <ion-text class="titre" color="dark">
            <h5>H5: The quick brown fox jumps over the lazy dog</h5>
        </ion-text>

        <p class="text">
            I saw a werewolf with a Chinese menu in his hand. Walking through the of Soho in the rain. He
            <ion-text color="primary"><i>was</i>
            </ion-text>
            looking for a place called Lee Ho Fook's. Gonna get a Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rerum nam enim architecto dolore deserunt itaque quia perspiciatis similique, doloremque dolor! Ut odit nisi reprehenderit repellat incidunt?
            Neque sequi consectetur perspiciatis.

        </p>

    </div>





</ion-content>